/* Fondo edificios */
.background {
  background-image: url('@assets/campos.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Cuadro */
.overlay-box {
  background-color: rgba(255, 153, 0, 0.8);
  color: white;
  padding: 15vw;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  max-width: 600px;
  position: relative;
}

/* Título */
.overlay-box h1 {
  font-size: clamp(4rem, 12vw, 10rem);
  font-weight: 370;
  margin-bottom: 0px;
  margin-top: -20px;
  text-align: center;
  line-height: 0.7;
}

/* Botón */
.button-home {
  position: absolute;
  bottom: 20%;
  right: 40%;
  padding: 1.5vw 3.5vw;  
  min-width: 120px;
  max-width: 210px;  
  border: none;
  border-radius: 10px;
  background-color: rgb(68, 68, 215);
  color: #ffffff;
  font-size: clamp(1.2rem, 2vw, 1.5rem); 
  font-weight: 550;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s;
}

/* Transition botón */
button:hover {
  transform: scale(1.05);
}