.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Título */
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.headerpos {
  font-size: 4.5rem;
  margin: 0;
  color: black;
  font-family: 'Sports World',system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.year{
    font-family: 'Anton',system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 2.5rem;
    margin: 0;
}

.selectors-container {
  display: flex;
  gap: 2rem;
  margin-top: 0.5rem;
}

.division-selector {
  font-family: 'Anton',system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-color: rgb(0, 0, 0);
  border-radius: 12px;

}

/* Tabla */
.table-container {
  width: 90%;
  margin: auto;
  margin-top: 0%;
  overflow-x: auto;
  border-radius: 12px;
  max-height: calc(100vh - 180px);
}

.position-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.position-table th,
.position-table td {
  padding: 15px;
  text-align: left;
  font-family: 'Anton',system-ui, Avenir, Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #ddd;
  color: black;
}

.position-table th {
  background-color: #fb9d18;
  color: rgb(8, 68, 8);
  font-family: 'Sports World',system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.position-row:hover {
  background-color: #e0eaff;
  cursor: pointer;
}

/* Botones */
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px -800px;
  }  

  .button-agregar,
  .button-report {
    margin: 0;
  }
  
  .button-report button {
    background-color: rgba(37, 110, 75, 0.8);
    color: white;
    padding: 12px 50px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: all 0.3s;
    width: auto;
  }

  .button-report button:hover {
    transform: scale(1.05);
  }